body{
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
}
select {
	overflow: hidden;
	width: 100%;
}
.g-modified{
	background-color: greenyellow!important;
}

.navbar{
	color: #ffffff;
}

.d-table{
	display: table;
}

.m-auto{
	margin: auto;
}

.g-clear{
	clear: both;
}
.mb-40px{
	margin-bottom: 40px;
}
.px-5px{
	padding-left: 5px;
	padding-right: 5px;
}
.input-warrning{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    z-index: 3!important;
}
.d-cell{
	display:table-cell;
}
.d-inline{
	display: inline;
}
.d-inline-block{
	display: inline-block;
}
.mb-5px{
	margin-bottom: 5px;
}
.mb-1{
	margin-bottom: 1em;
}
.my-1{
	margin-top:1em;
	margin-bottom:1em;
}
.my-2{
	margin-top:2em;
	margin-bottom:2em;
}
.my-3{
	margin-top:3em;
	margin-bottom:3em;
}
.w-100{
	width:100%;
}
.err {
	color: rgb(255, 255, 255);
	padding: 5px 5px;
	background-color: rgb(169, 68, 66);
	display: none;
	text-align: center;
}
.tbl{
	display: table;
	width: 100%;
}
.tbl_body{
	display: table-row-group;
}
.tbl__cell{
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
	text-align: center;
}
.tbl__cell-2{
	display: table-cell;
	vertical-align: middle;
}
.tbl__line{
	display: table-row;
}
.tbl__line:nth-child(even){
	background-color: #fbfbfb;
}
.tbl__head{
	display: table-row;
	background-image: -webkit-linear-gradient(top, #3c3c3c 0, #222 100%);
	background-image: -o-linear-gradient(top, #3c3c3c 0, #222 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c3c3c), to(#222));
	background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
	background-repeat: repeat-x;
	color: #ffffff;
	font-weight: bold;
	border: 1px #080808 solid;
}
.m-container{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.sm-tbl {
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}
.sm-tbl__line{
	margin:0 0 10px;
}
.sm-tbl__p {
	font-weight: bold;
	margin: 0px;
}
.sort{
	display:inline-block;
	background-color: #f5f5f5;
	border-radius: 4px;
}
.btn-remove {
	background: none;
	box-shadow: none;
	border: none;
}
.js-update__edit {
	border: none;
}

.form-edit{
	padding: 6px 12px;
    border: 1px #ffffff00 solid;
    outline: 0;
    background:none;
    box-shadow: none;
    text-align: center;
}
.js-form-edit--success {
	border-radius: 4px;
	outline: 0;
	padding: 6px 12px;
	border: 1px rgba(92, 184, 92, 1) solid;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(92, 184, 92, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(92, 184, 92, 0.6);
}
.js-form-edit--err {
	z-index: 99!important;
	border-radius: 4px;
	outline: 0;
	padding: 6px 12px;
	border: 1px rgba(169, 68, 66, 1) solid;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169, 68, 66, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169, 68, 66, 0.6);
}

.js-form-edit--change {
	border-radius: 4px;
	padding: 6px 12px;
	border: 1px #66afe9 solid;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-add{
	width: 100%;
	margin-bottom: 50px;
}

@media (min-width: 1200px){
	.m-container {
		width: 1170px;
	}
}
@media (max-width: 992px){
	.py-sm__5px{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.p-sm{
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.px-sm__5px{
		padding-left: 5px;
		padding-right: 5px;
	}
	.tbl__head {
		display: none;
	}
	.tbl_body,.tbl__line,.tbl__cell{
		display: block;
	}
	.tbl__cell {
		text-align: left;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.tbl__cell:first-child,
	.tbl__cell-2:first-child
	{
		background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
		background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), to(#e0e0e0));
		background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
		background-repeat: repeat-x;
		border-color: #dbdbdb;
		text-shadow: 0 1px 0 #fff;
		border-color: #ccc;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}
	.tbl__line{
		position: relative;
		border-radius: 4px;
		border: 1px solid #ccc;
		margin: 1em 0 2em 0;
	}
	.btn-remove{
		position: absolute;
		right: 5px;
		top:5px;
	}
	.form-edit{
		text-align: left;
	}
	.tbl__cell-2{
		display:block;
	}
}