<div class="d-table m-auto">
    <ul class="js-tbl-pagination pagination m-auto">
        {% if data['currentPage'] != 1 %}
        <li>
            <a id="1" href=""> << </a>
        </li>
        <li>
            <a id="{{data['currentPage'] - 1}}" href=""> < </a>
        </li>
        {% endif %}

        {% if (data['currentPage'] - 2) > 0 %}
        <li>
            <a id="{{data['currentPage'] - 2}}" href=""> {{data['currentPage'] - 2}} </a>
        </li>
        {% endif %}

        {% if (data['currentPage'] - 1) > 0 %}
        <li>
            <a id="{{data['currentPage']-1}}" href=""> {{data['currentPage'] - 1}} </a>
        </li>
        {% endif %}

        <li>
            <a id="{{data['currentPage']}}" href="">
                {{data['currentPage']}}
            </a>
        </li>

        {% if (data['currentPage'] + 1) <= data['totalPages'] %}
        <li>
            <a id="{{data['currentPage'] + 1}}" href=""> {{data['currentPage'] + 1}} </a>
        </li>
        {% endif %}

        {% if (data['currentPage'] + 2) <= data['totalPages'] %}
        <li>
            <a id="{{data['currentPage'] + 2}}" href=""> {{data['currentPage'] + 2}} </a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <span> ... </span>
        </li>

        <li>
            <a id="{{data['totalPages']}}" href="">{{data['totalPages']}}</a>
        </li>

        {% if data['currentPage'] != data['totalPages'] %}
        <li>
            <a id="{{data['currentPage'] + 1}}" href=""> > </a>
        </li>
        <li>
            <a id="{{data['totalPages']}}" href=""> >> </a>
        </li>
        {% endif %}
    </ul>
</div>