<!DOCTYPE html>
<html>
<head>
    {% include "meta.html" %}
    {% include "styles.html" %}
    {% include "scripts.html" %}
    <title>Title</title>
</head>
<body>
{% include "template_menu.html" with data %}
<div class="container">
    <div class="mb-40px">
        {{data['err']}}
    </div>
</div>
</body>
</html>