<!DOCTYPE html>
<html>
<head>
    {% include "meta.html" %}
    {% include "styles.html" %}
    {% include "scripts.html" %}
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="mb-40px">
        <h3>Ошибка</h3>
        <div>
            <img src="/img/404.png">
        </div>
    </div>
</div>
</body>
</html>