<!DOCTYPE html>
<html>
<head>
    {% include "meta.html" %}
    <title>Title</title>
    {% include "styles.html" %}
    {% include "scripts.html" %}
</head>
<body>
{% include "template_menu.html" with data %}
<div class="container">
    <div class="mb-40px">
        <h3>Список задач</h3>
    </div>
    <div class="js-records records">
        <form class="js-form-add form-add input-group" action="">
            <input class="form-control" name="username" placeholder="Имя">
            <input type="email" class="form-control" name="email" placeholder="Email">
            <textarea class="form-control" name="description" placeholder="Описание задачи"></textarea>
            <button class="btn btn-default js-btn-add w-100">
                <b>Добавить новую задачу </b>
            </button>
        </form>
        <div class="row my-1">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 left">
                <div class="js-sort sort">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="#" class="js-sort-col" data-col="id" data-sort="asc" title="по возрастанию">Номер</a></li>
                            <li><a href="#" class="js-sort-col" data-col="user_name" data-sort="asc" title="по возрастанию">Имя пользователя</a></li>
                            <li><a href="#" class="js-sort-col" data-col="email" data-sort="asc" title="по возрастанию">Email</a></li>
                            <li><a href="#" class="js-sort-col" data-col="status" data-sort="asc" title="по возрастанию">Статус</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="js-sort-col" data-col="id" data-sort="desc" title="по убыванию">Номер</a></li>
                            <li><a href="#" class="js-sort-col" data-col="user_name" data-sort="desc" title="по убыванию">Имя пользователя</a></li>
                            <li><a href="#" class="js-sort-col" data-col="email" data-sort="desc" title="по убыванию">Email</a></li>
                            <li><a href="#" class="js-sort-col" data-col="status" data-sort="desc" title="по убыванию">Статус</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">

            </div>
        </div>
        <div class="js-tbl tbl">
            <div class="tbl__head">
                <div class="tbl__cell ">
                    №
                </div>
                <div class="tbl__cell ">
                    Имя пользователя
                </div>
                <div class="tbl__cell ">
                    Email
                </div>
                <div class="tbl__cell ">
                    Текст задачи
                </div>
                <div class="tbl__cell ">
                    Статус
                </div>
                <!--<div class="tbl__cell ">
                    Удалить
                </div>-->
            </div>
            <div class="js-tbl_body tbl_body">
                {% for record in data['items'] %}
                    {% if record.modified == '1' %}
                    <div class="js-tbl__line tbl__line g-modified">
                    {% else %}
                    <div class="js-tbl__line tbl__line">
                    {% endif %}
                    <div class="tbl__cell">
                        <div class="d-inline-block hidden-lg hidden-md">
                            <b>№</b>
                        </div>{{record.id}}
                    </div>
                    <div class="tbl__cell ">
                        <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                            <b>Имя пользователя:</b>
                        </div>
                        {{record.user_name}}
                    </div>
                    <div class="tbl__cell ">
                        <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                            <b>Email:</b>
                        </div>
                        {{record.email}}
                    </div>
                    <div class="tbl__cell ">
                        <form class="js-form-update" method="post">
                            <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                                <b>Текст задачи:</b>
                            </div>
                            {% if data['uid'] is empty %}
                                <div class="b-label d-inline-block">{{record.description}}</div>
                            {% else %}
                                <input type="hidden" name="updateid" value="{{record.id}}">
                                <input class="js-form-edit form-edit" name="updatetxt" value="{{record.description}}">
                            {% endif %}
                        </form>
                    </div>
                    <div class="tbl__cell ">
                        <form class="js-form-update" method="post">
                            <div class="b-label d-inline-block hidden-lg hidden-md mb-5px">
                                <b>Статус:</b>
                            </div>
                            {% if data['uid'] %}
                                <input type="hidden" name="updateid" value="{{record.id}}">
                                {% if record.status == 'true' %}
                                    <input class="js-update-status" type="checkbox" checked>
                                {% elseif record.status == 'false' %}
                                    <input class="js-update-status" type="checkbox">
                                {% endif %}
                            {% else %}
                                {% if record.status == 'true' %}
                                    <div class="b-label d-inline-block">
                                        Выполнено
                                    </div>
                                {% elseif record.status == 'false' %}
                                    <div class="b-label d-inline-block">
                                        Не выполнено
                                    </div>
                                {% endif %}
                            {% endif %}
                        </form>
                    </div>
                    <!--<div class="tbl__cell">
                        <form class="js-form-remove" method="post">
                            <input type="hidden" name="remove" value="{{record.id}}">
                            <button class="js-btn-remove btn-remove">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </form>
                    </div>-->
                </div>
                {% endfor %}
            </div>
        </div>
        {% include "template_pagination.html" with data %}
    </div>
</div>
</body>
</html>