<!DOCTYPE html>
<html>
<head>
    {% include "meta.html" %}
    {% include "styles.html" %}
    {% include "scripts.html" %}
    <title>Title</title>
</head>
<body>
    {% include "template_menu.html" with data %}
    <div class="container">
        <div class="mb-40px">
            <p>Данное приложение является приложением-задачником. Задачи состоят из: имени пользователя, е-mail, текста задачи.</p>
            <p>Имеется <a href="/task">список задач</a> с возможностью сортировки по имени пользователя, email и статусу.
                Вывод задач осуществлён страницами по 3 штуки с пагинацией.
                Cоздавать новые задачи, а так же видеть список задач может любой посетитель без авторизации.</p>
            <p>Вход для администратора осуществляется с логином <b>admin</b> и паролем <b>123</b>.
                Администратор имеет возможность редактировать текст задачи и поставить галочку о выполнении.
                Задачи отредактированные администратором отмечены <span class="g-modified">данным цветом</span>
            </p>
            <p>
                Для того чтобы отредактировать описание задачи, сперва необходимо зайти под администратором. Затем
                для того чтобы отредактировать запись, необходимо кликнуть на текстовое описание задачи, ввести изменения
                и нажать enter, либо просто увести фокус с выбранного поля (см. скриншот ниже). После увода фокуса или нажатия Enter происходит сохранение данных через Ajax.
                <br>
                <img src="/img/update.jpg">
            </p>
        </div>
    </div>
</body>
</html>