<form class="navbar-form navbar-right" method="post" action="/login">
    <div class="form-group">
        <input name="login" placeholder="Логин" class="form-control">
    </div>
    <div class="form-group">
        <input name="password" type="password" placeholder="Пароль" class="form-control">
    </div>
    <input type="hidden" name="action" value="log">
    <input class="btn btn-success" type="submit" value="Войти" name="log_in" />
</form>