<div class="d-table m-auto">
    <ul class="js-tbl-pagination pagination">
    {% for number in 1..data['totalPages'] %}
        {% if number == 1 %}
            <li class="active pagination-item">
                <a data-page="{{number}}" href="">{{number}}</a>
            </li>
        {% else %}
            <li class="pagination-item">
                <a data-page="{{number}}" href="">{{number}}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
</div>