<!DOCTYPE html>
<html>
<head>
    {% include "meta.html" %}
    {% include "styles.html" %}
    {% include "scripts.html" %}
    <title>Title</title>
</head>
<body>
    {% include "template_menu.html" with data %}
    <div class="container">
        {{data['err']}}
    </div>
</body>
</html>